.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 30px;
    border-top: 3px solid black;
    z-index: 2;
    background-color: #ee2238;

    font-size: 0.75em;
    color: white;

    p {
        margin-top: 8px;
    }
}