<header class="header">
    <div class="header__left">
        <a class="header__title" routerLink="/">Zira Application</a>
    </div>
    <a class="nav-link" routerLink="/projects">Les Projets</a>

    <li class="nav-item">
        <a class="nav-link"></a>
        <div class="header__center"><ng-content></ng-content></div>

        <div class="header__right">
            <ng-content select="[header-end]"></ng-content>
        </div>
</header>