.menu {
    &__list {
        display: flex;
        align-items: stretch;
        gap: 3rem;
    }

    &__link {
        color: rgba(white, 0.88);
        padding: 0.75em 1em;
        font-size: 1em;
        text-decoration: none;
        border-radius: 8px;
        font-weight: normal;

        &:hover {
            background: rgba(white, 0.08);
        }

        &.is-active {
            font-weight: bold;
            color: white;
        }
    }
}