<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a routerLink="/add-new-project" class="menu__link">Créer un nouveau projet</a>
        </li>

        <li class="menu__item">

        </li>
    </ul>
</nav>