<div>
    {{project?.name}}
</div>
<div>
    {{project?.description}}
</div>
<ul>

    <li *ngFor="let ticket of project?.tickets">

        <a [attr.routerLink]="['tickets', ticket.id]">
            Titre: {{ticket.title}}
            Contenu: {{ticket.content}}
            status: {{ticket.status}}
        </a>

    </li>
</ul>