<form [formGroup]="form">
    <div>
        <label for="name">Nom du projet</label>
        <input type="text" name="name" id="name" formControlName="name">
    </div>
    <div>
        <label for="description">Description du projet</label>
        <input type="text" name="description" id="description" maxlength="500" formControlName="description">
    </div>
    <button type="submit" (click)="submitForm()">
        Ajouter le projet
    </button>
</form>